.header {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

body {
  background-image: url('https://img.wallpapersafari.com/desktop/1600/900/92/37/nLjegm.jpg');
  background-size: 100vw 100vh;
}

.options {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: row;
  color: white
}

form {
  background-color: white;
}
